Source: mono-tools
Section: devel
Priority: optional
Maintainer: Debian Mono Group <pkg-mono-group@lists.alioth.debian.org>
Uploaders: Mirco Bauer <meebey@debian.org>, Sebastian Dröge <slomo@debian.org>
Build-Depends: debhelper (>= 5.0.0), dpatch
Build-Depends-Indep: cli-common-dev (>= 0.4.4), pkg-config, mono-mcs (>= 1.0), mono-gmcs (>= 1.0), libmono-dev (>= 1.0), mono-gac (>= 1.0), mono-1.0-devel, libnunit2.2.6-cil (>= 2.2.0), libgtk2.0-cil (>= 2.0), libgconf2.0-cil (>= 2.0), libglade2.0-cil (>= 2.0), libgecko2.0-cil (>= 0.10), libgnome2.0-cil (>= 2.0), libgtkhtml3.16-cil, monodoc-base (>= 1.1.9), libxul-dev
Standards-Version: 3.7.3

Package: monodoc-browser
Provides: monodoc-viewer
Replaces: monodoc-base (<< 1.1.9)
Architecture: all
Recommends: lynx
Depends: ${cli:Depends}, monodoc-manual
Description: MonoDoc GTK+ based viewer
 The MonoDoc Project is the documentation framework of the Mono project which
 provides detailed API documentation for all Mono components and the Mono CLI
 implementation.
 .
 This package contains the GTK+ based viewer of the Mono documentation.

Package: gnunit
Architecture: all
Depends: ${cli:Depends}
Description: frontend for running NUnit 2 test suites
 gnunit (formerly known as nunit-gtk) is a frontend for NUnit which uses
 the Mono class library version 1.0.
 .
 NUnit is a unit testing framework for all .NET languages. It serves the
 same purpose as JUnit does in the Java world. It supports test
 categories, testing for exceptions and writing test results in plain
 text or XML.

Package: gnunit2
Architecture: all
Depends: ${cli:Depends}
Description: frontend for running NUnit 2 test suites
 gnunit2 (formerly known as nunit-gtk) is a frontend for NUnit which uses
 the Mono class library version 2.0.
 .
 NUnit is a unit testing framework for all .NET languages. It serves the
 same purpose as JUnit does in the Java world. It supports test
 categories, testing for exceptions and writing test results in plain
 text or XML.

Package: mono-tools-gui
Architecture: all
Depends: ${cli:Depends}
Replaces: gnunit (<< 1.2.1)
Description: Various GUI tools for mono
 This package contains various GUI tools for use with mono:
 - gasnview
 - ilcontrast

Package: mono-tools-devel
Architecture: all
Depends: ${cli:Depends}
Description: Various development tools for mono
 This package contains various development tools for use with mono:
 - create-native-map

