#!/usr/bin/make -f

#export DH_VERBOSE=1
export MONO_SHARED_DIR=$(CURDIR)

MAKEFILE = $(firstword $(MAKEFILE_LIST))
DEBIAN_DIR = $(dir $(MAKEFILE))
SOURCE_DIR = $(DEBIAN_DIR)/..

DEB_VERSION = $(shell dpkg-parsechangelog -l$(DEBIAN_DIR)/changelog | grep ^Version | cut -d" " -f2)
DEB_SOURCE_NAME = $(shell dpkg-parsechangelog -l$(DEBIAN_DIR)/changelog | grep ^Source | cut -d" " -f2)
VERSION = $(shell echo $(DEB_VERSION) | cut -d"-" -f1 | sed 's/+dfsg.*//')


build: 
	dh_testdir
	$(MAKE)

clean: 
	dh_testdir
	dh_testroot
	[ ! -f Makefile ] || $(MAKE) distclean
	find . -name "Makefile.in" | xargs rm -rf
	rm -rf $$MONO_SHARED_DIR/.wapi autom4te.cache/
	dh_clean configure config.sub config.guess aclocal.m4

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp/

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_movefiles
	dh_link
	dh_install
	cp $(CURDIR)/debian/monodoc-http-script $(CURDIR)/debian/monodoc-http/usr/bin/monodoc-http
	# fix upstream file permissions
	find debian/monodoc-http/usr/*/monodoc/web -type f -exec chmod 644 {} \;
	find debian/monodoc-http/usr/*/monodoc/web -type d -exec chmod 755 {} \;
	rm debian/monodoc-http/usr/lib/monodoc/web/xtree/xmlextras.js
	ln -s /usr/share/javascript/xmlextras/xmlextras.js debian/monodoc-http/usr/lib/monodoc/web/xtree/xmlextras.js
	# remove directories moved to /usr/share/
	#find debian/monodoc-http/usr/lib/monodoc/web -type d -name "images" -o -name "xtree" | xargs rm -rf
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installmenu
	dh_desktop
	dh_installman
	dh_strip
	dh_clistrip
	dh_compress
	dh_fixperms
	dh_clifixperms
	dh_installdeb
	dh_installxsp -V 2
	dh_clideps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:

binary: binary-indep

get-orig-source:
	uscan \
		--package $(DEB_SOURCE_NAME) \
		--watchfile $(DEBIAN_DIR)/watch \
		--upstream-version $(VERSION) \
		--download-version $(VERSION) \
		--destdir . \
		--force-download \
		--rename

%:
	dh --with quilt,autoreconf $@

.PHONY: build clean clean-patched binary-indep binary install
