#!/usr/bin/make -f

#export DH_VERBOSE=1
export MONO_SHARED_DIR=$(CURDIR)
CURVER = $(shell dpkg-parsechangelog | grep ^Version | cut -d' ' -f2 | cut -d'-' -f1)

include /usr/share/dpatch/dpatch.make

build: build-stamp
build-stamp: patch-stamp
	dh_testdir
	./configure --prefix=/usr
	$(MAKE)
	touch build-stamp

clean: clean-patched unpatch
clean-patched:
	dh_testdir
	dh_testroot
	#[ ! -f Makefile ] || $(MAKE) distclean
	# distclean deletes some Makefile.in files :(
	[ ! -f Makefile ] || $(MAKE) clean
	rm -rf $$MONO_SHARED_DIR/.wapi
	rm -f build-stamp
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_movefiles
	dh_link
	dh_install
	dh_installchangelogs ChangeLog
	dh_installdocs
	dh_installmenu
	dh_desktop
	dh_installman
	dh_strip
	dh_clistrip
	dh_compress
	dh_fixperms
	dh_clifixperms
	dh_installdeb
	dh_clideps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch:

binary: binary-indep

get-orig-source:
	[ -d ../tarballs ] || mkdir ../tarballs
	uscan \
		--force-download \
		--download-version $(CURVER) \
		--repack \
		--rename \
		--destdir ../tarballs

.PHONY: build clean clean-patched binary-indep binary install
